<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
        <a ion-button icon-only (click)="openPopover($event)">
          <ion-icon name="more"></ion-icon>
        </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="container" disable-scroll>
  <div class="menu-container" (click)="openMenu(1)">
      <img class="img" src="assets/imgs/aeg-slide-01.jpg"/>
      <div class="menu-item"> 
          <!-- <div class=" coursemenuicon1"  ng-click="gotosite(0)">W</div> -->
          <p class="menu-title">Workout</p>
      </div>
       
  </div>
  <div class="menu-container" (click)="openMenu(2)">
      <img class="img" src="assets/imgs/house_PNG26.png"/>
      <div class="menu-item"> 
          <!-- <div class=" coursemenuicon2"  ng-click="gotosite(0)">C</div> -->
          <p class="menu-title">History</p> 
      </div>
  </div>
  <div class="menu-container" (click)="openMenu(3)">
    <img class="img" src="assets/imgs/infrared-grill_discover.jpg"/>
    <div class="menu-item"> 
        <!-- <div class=" coursemenuicon3"  ng-click="gotosite(0)">C</div> -->
        <p class="menu-title">Report</p> 
    </div>
  </div>
</ion-content>
